{% extends 'base.twig'%}

{% block subtitle %}- Login{% endblock %}

{% block content %}

<form action="{{ app.urlFor("LoginPost") }}" method="post" >

	<label for="email"> Email: </label></br>
	<input type="text" name="email" id="email" size="20" maxlength="20" /></br>
	<span id="feed_email"></span></br></br>
	
	<label for="password"> Password: </label></br>
	<input type="password" name="password" id="password" size="20" maxlength="20" /></br>
	<span id="feed_password"></span></br></br>
	
	<input type="submit" id = "signup" value="Sign up">
</form>
{% endblock %}