{# setto l'array di link per il menu #}

{% 
	set links = {
		'Homepage': app.urlFor('Homepage'),
		'Sign up' : app.urlFor('Sign up'),
		'Login' :  app.urlFor('Login')
	}
	
%}
<ul id="menu">
	{% for key, link in links %}
	    <li><a href="{{ link }}">{{key}}</a></li>
	{% endfor %}
</ul>
	
<br style="clear:both" />
