{% extends 'base.twig'%}

{% block subtitle %}- Sign Up{% endblock %}

{% block content %}

<form action="{{ app.urlFor("SignupAddPost") }}" method="post" >

	<label for="name"> Name: </label>
	<input type="text" name="name" id="name" maxlength="20"/></br>
	<div id="feed_name"></div></br>
	
	<label for="surname"> Surname: </label>
	<input type="text" name="surname" id="surname" maxlength="20"/></br>
	<div id="feed_surname"></div></br></br>
	
	<label for="username"> Username: </label>
	<input type="text" name="username" id="username" /> </br>
	<div id="feed_username"></div></br></br>
	
	<label for="email"> Email: </label>
	<input type="email" name="email" id="email" /> </br>
	<div id="feed_email"></div></br></br>
	
	<label for="password"> Password: </label>
	<input type="password" name="password" id="password" /> </br>
	<div id="feed_password"></div></br></br>
	
	<label for="password_check"> Password: </label>
	<input type="password" name="password_check" id="password_check" /> </br>
	<div id="feed_password_check"></div></br></br>
	
	<label for="bornDate"> Born date: </label>
	<input type="text" name="date" id="born_date" /> </br>
	<div id="feed_born_date"></div></br></br>
	
	<label for="country"> Country: </label>
	<input type="text" name="country" id="country" /> </br>
	<div id="feed_country"></div></br></br>
	
	<input type="submit" name="submit_signup" value="Sign up">
	
</form>
{% endblock %}